<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zeeshanhussain.qwicklyapppart1"
    android:installLocation="auto">

    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/imageedit_1_6204205203"
        android:label="Qwickly"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".AccountActivity.LoginActivityPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ARreco.CloudReco"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/SampleAppsTheme" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Functionality.barcodescan.BarcodeCaptureActivity" />
        <activity android:name=".Functionality.barcodescan.ProductDisplay" />
        <activity android:name=".AccountActivity.SignUpActivity" />
        <activity android:name=".AccountActivity.PasswordReset" />
        <activity android:name=".Functionality.barcodescan.DisplayDetailedView" />
        <activity android:name=".Offers" />
        <activity android:name=".FavouritesView" />
        <activity android:name=".Functionality.barcodescan.Display2" />
        <activity android:name=".Favourties2" />
        <activity android:name=".AccountActivity.AfterRegistration" />
        <activity android:name=".Functionality.barcodescan.DetailsFavt"></activity>
    </application>

</manifest>